.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  transition: background-color ease-in 75ms;
  border-radius: 24px;
}

.primary {
  height: 48px;
  justify-content: start;
  padding-left: 8px;
  color: white;
  background-color: #7c5dfa;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px; /* 100% */
  letter-spacing: -0.25px;
}

.primary:hover {
  background-color: #9277ff;
}

.secondary {
  width: 131px;
  height: 48px;
  background-color: #7c5dfa;
  color: white;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
}

.secondary:hover {
  background-color: #9277ff;
}

.dark-mini {
  width: 73px;
  height: 48px;
  border-radius: 24px;
  background-color: #f9fafe;
  color: #7e88c3;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
}

.dark-mini:hover {
  background-color: #dfe3fa;
  color: #7e88c3;
}

.dark {
  width: 133px;
  height: 48px;
  background-color: #373b53;
  color: #888eb0;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
}

.dark:hover {
  background-color: #0c0e16;
}

.danger {
  width: 89px;
  height: 48px;
  background-color: #ec5757;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
}

.danger:hover {
  background-color: #ff9797;
}

.primary-long {
  width: 350px;
  height: 48px;
  color: #7e88c3;
  background-color: #f9fafe;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px; /* 100% */
  letter-spacing: -0.25px;
}

.primary-long:hover {
  background: #dfe3fa;
}
